
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container {
    width: 50%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #FFF2F2;
    border-radius: 12px;
    text-align: center;
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #A9B5DF;
}
h4 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #A9B5DF;
}
button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: #7886C7;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #2D336B;
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}
img {
    width: 40%;
}